<!DOCTYPE html>
<html>
  <head>
    <title>Triiply</title>
    <link rel="stylesheet" href="css/base.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>
    <!-- banner with logo -->
    <div class="banner">
      <!-- navigation -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
              <li><a href="#">About</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign up<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav><!-- close navigation -->

      <!--logo & headline-->
      <div class="logo">
        <img src="https://36.media.tumblr.com/d70811f8561dec1a301c0412480ec9c8/tumblr_nqh3zfnIE51u2jsm6o1_540.png" style="height:40%; width:40%;">
      </div>
    </div><!-- close banner -->

    <!-- what is triiply -->
    <div class="container">
      <strong><h1>What is Triiply?</h1></strong>
      <div class="what_it_is">
          <h4>
          <p>Triiply is a simple web app that allows you and your friends to list trip ideas, itenerary,prices,etc.A group of my five friends and I decided to make our summer EPIC.We started brainstorming through group text,email, and Facebook which all turned out to be a disaster.We needed a way that we could all communicate our ideas. A board of some type where we could list potential trip ideas and the cost per person, etc.
          <strong>We needed Triiply.</strong></p>
          </h4>
      </div>
      <!-- end of what is triiply -->

      <!-- how it works -->
      <strong><h1>How it works.</h1></strong>
        <div class="how_it_works">
            <h3><p>Step 1:</p>
              <p>Decide who your friends are.</p></h3>
              <img src="http://www.pkwy.k12.mo.us/homepage/msioumcas/Image/kids_clipart.jpg" style="height:20%; width:30%;margin-top:70px;margin-bottom:70px;">
            <h3><p>Step 2:</p>
              <p>Choose where you want to go.</p></h3>
              <img src="http://www.crazywebsite.com/Pg-Free-Clipart-Graphics/Images_Celebrate_Labor_Day_Weekend_Clipart_Photos/Summertime__Beach_Umbrella_Sun_Clipart-1.jpg" style="height:45%; width:25%; margin-top:70px;margin-bottom:70px;">
            <h3><p>Step 3:</p>
              <p>Suggest Triip ideas to your friends.</p></h3>
              <img src="https://s-media-cache-ak0.pinimg.com/originals/7e/bf/47/7ebf47b8d20d91fda21cee1269923933.gif" style="height:45%; width:25%; margin-top:70px;margin-bottom:70px;">
            <h3><p>Step 4:</p>
              <p>Vote on the ideas as a group.</p></h3>
              <img src="http://thumbs.dreamstime.com/t/thumbs-up-down-hand-sign-31465470.jpg"style="margin-top:70px;margin-bottom:70px;">
            <h3><p>Step 5:</p>
              <p>"Pay the piper" via Venmo or Paypal.</p></h3>
              <img src="http://www.clipartbest.com/cliparts/yTk/era/yTkeraKEc.gif" style="height:30%; width:20%; margin-top:70px;margin-bottom:70px;">
         </div>
         <!-- close how it works -->
        </div><!-- close container -->
  </body>
</html>


